:root{
    --primary-text-color:#757575;
    --secondary-text-color:#212121;
    --accent-color:#2196F3;
}

/* Основа сторінки */
body{
    background-color: #F5F5F5;
    color:var(--primary-text-color)
}
/* LOGO */
.logo {
    color: var(--secondary-text-color);
}

.logo-half {
    color: var(--accent-color)
}
/* Header */
.list {
    list-style: none;
}

.site-nav .link{
    color: var(--secondary-text-color);
}
.contact .link{
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact .link:hover,
.contact .link:focus{
    color: var(--accent-color);
}

/* main (basic)*/

/* Банер */
.hero {
    background-color: #2F303A;
    color: #FFFFFF;
}

.hero-btn {
    background-color: #FFFFFF;
    color: var(--primary-text-color)
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--accent-color);
    color: #FFFFFF;
}

/* Особливості */
.section-title {
    color: var(--secondary-text-color);
}
 
/* Про компанію */

/* Наша команда */

.members-name{
    color: var(--secondary-text-color);
}
/* main (portfolio)*/

/* Фільтр */
.filter-part{
    color: var(--secondary-text-color);
}

/* Зміст портфоліо */
.portfolio-part{
    color: var(--secondary-text-color);
}

/* footer */
